%h1 すけじゅーる
%form{:action => "/schedule", :method => "post"}
  %input{:type => "texfield", :name => "tag"}
  %input.btn.btn-primary{:type => "submit", :value => "とうろく"}


- @registered_tags.each do |tag|
  %dl
    %dt
      #{tag}
      %form{:action => "/delete", :method => "post"}
        %input.btn.btn-default{:type => "hidden", :name => "tag", :value => tag}
        %input.btn.btn-default{:type => "submit", :value => "さくじょ"}
        - if @results[tag]['values']
          - @results[tag]['values'].each do |value|
            %dd
              %a{:href => "http://live.nicovideo.jp/watch/#{value['cmsid']}", :target => "_blank"} #{value['title']}
              #{value['start_time']} ~ #{value['live_end_time']}
